<!doctype html>
<html lang="en">
  <head>
    <title>Runner</title>
    <link rel="icon" href="/static/favicon.ico" sizes="any" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background: black;
        color: lightblue;
      }
      div {
        font: bold medium monospace;
      }
    </style>
    <!-- Last modified Thu Feb 12 08:53:58 PM MST 2026 -->
  </head>
  <body>
    <div id="logArea"></div>
    <div id="logArea2"></div>
    <button id="lockButton">Start</button>
    <div id="lockStatus"></div>
    <script>
      const logElement = document.getElementById("logArea");
      const logElement2 = document.getElementById("logArea2");
      const lockStatus = document.getElementById("lockStatus");
      const lockButton = document.getElementById("lockButton");
      let wakeLock = null;
      let responseCount = 0;
      let keepRunning = false;
      function checkToken(tokenValue) {
        const url = `/check_token?token=${tokenValue}`;
        fetch(url).then(async (response) => {
          responseCount++;
          let nextToken = "newToken";
          if (response.ok) {
            const j = await response.json();
            const log = `Response: ${responseCount}`;
            logElement.innerText = log;
            const log2 = `Message: ${j["message"]}`;
            logElement2.innerText = log2;
            nextToken = j["next_token"];
          } else {
            logElement.innerText = "Fetch failure but retrying...";
          }
          const nextFetch = Math.floor(Math.random() * 400 - 200 + 2000);
          if (keepRunning) {
            setTimeout(() => {
              checkToken(nextToken);
            }, nextFetch);
          }
        });
      }
      async function toggleRunner() {
        if (keepRunning) {
          // Running mode so stop timer
          keepRunning = false;
          if (wakeLock) {
            wakeLock.release().then(() => {
              lockStatus.innerText = "Stopped";
              wakeLock = null;
            });
          }
          lockButton.textContent = "Start";
        } else {
          // Try to start the timer and wake lock
          keepRunning = true;
          lockButton.textContent = "Stop";
          wakeLock = await navigator.wakeLock.request('screen');
          if (wakeLock) {
            lockStatus.innerText = "Wake lock active";
            wakeLock.addEventListener("release", () => {
              lockStatus.innerText = "Wake lock released";
            });
          } else {
            lockStatus.innerText = "Wake lock not available";
          }
          setTimeout(() => checkToken("start", 100));
        }
      }
      lockButton.addEventListener("click", () => {
        toggleRunner();
      });
    </script>
  </body>
</html>
